html,body{
    background: #f7f7f7;
}

.wrapper{
    --content-max-width-big: 1440;
    --content-max-width-small: 375;
    --font-size-big: 18;
    --font-size-small: 14;
}

table{
    font-size: .8em;
    width: 100%;
}

tr{
    border: 1px solid #000;
}

th,td{
    background: #fff;
    padding: .1em .5em;
}

input.input-error{
    border: 1px solid red;
}

.inputs{
    display: flex;
    flex-wrapper: wrap;
    gap: 1rem;
}
.message-error{
    color: red;
    font-size: .8em;
    background: #fff;
}