html,body{
    background: #fff;
    
}

p.red{
    color: red !important;
}
p[data-foo="bar"]{
    color: red !important;
}
.green{
    color: green;
}

table {
    border: 1px solid #dededf;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
}

caption {
    caption-side: top;
    text-align: left;
}

th {
    border: 1px solid #dededf;
    background-color: #eceff1;
    color: #000000;
    padding: 5px;
}

td {
    border: 1px solid #dededf;
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
}

menu{
    background: #ccc;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

menu a{
    display: block;
    text-decoration: none;
    color: #000;
}